# Ignore Terraform state and provider files
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup
crash.log
*.log
*.tfvars
*.tfvars.json
# Python cache
__pycache__/
*.pyc
# VSCode
.vscode/
/frontend/.next
